*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tasksList h1{
  text-align: center;
}

.tasksList .emptyList{
  text-align: center;
  color: green;
}

.tasksList table{
  width: 85vw;
  margin-inline: auto;
}

.tasksList table, td ,th{
  border: solid 1px black;
  text-align: center;
}

.tasksList td:nth-child(1){
  width: 75%;
}

.tasksList table th{
  background-color: lightblue;
  color: brown;
}

.tasksList .taskChange{
  margin-top: 25px;
  margin-inline: auto;
  /* display: flex;
  flex-direction: column; */
  /* width: 100%; */
  width: 85vw;
  text-align: center;
}

.tasksList .taskChange .inputText{
  width: 85vw;
}

.tasksList .taskChange div{
  width: 85vw;
}

.tasksList .taskChange div .checkBox{
  width: 25px;
  height: 25px;
}

.tasksList .taskChange div label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasksList .taskChange div button{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-inline: auto;
}